/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	height: 130%;
	overflow-y: scroll;
}

.header {
	position: sticky;
	transition: top 0.5s ease;
}

.container {
	display: flex;
	justify-content: space-between;
	height: 40px;
	background-color: #922626;
	align-items: center;
	padding: 30px 20px;
}

.logo {
	width: 90px;
	height: 40px;
	border-radius: 5px;
}

.logoDiv {
	display: flex;
	align-items: center;
}

.logoText {
	font-size: 17px;
	margin-left: 10px;
	color: #ffe8c5;
	font-weight: 600;
}

nav ul {
	display: flex;
	list-style: none;
	gap: 50px;
}

.hoverScale {
	transition: transform 0.2s ease-in-out;
}

.hoverScale:hover {
	transform: scale(1.2);
}

nav ul li a {
	text-decoration: none;
	font-size: 17px;
	font-weight: 600;
	color: #ffe8c5;
}
.headerBtn {
	padding: 7px 10px;
	font-size: 15px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	background-color: #ffe8c5;
	color: #922626;
	border: none;
}
.conBtn {
	margin-right: 15px;
}
 */

/* General Styles */
body,
html {
	margin: 0;
	padding: 0;
	/* font-family: Arial, sans-serif; */
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header Styles */
.header {
	background-color: #922626;
	color: #fff;
	padding: 5px 0;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.logoDiv {
	display: flex;
	align-items: center;
}

.logo {
	height: 60px;
	margin-right: 15px;
	border-radius: 10px;
}

.logoText {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin: 0 15px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	transition: color 0.3s;
}

nav ul li a:hover {
	color: #f9c846;
}

.contact {
	display: flex;
	align-items: center;
}

.headerBtn {
	background-color: #f9c846;
	color: #003d61;
	border: none;
	border-radius: 12px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	margin-left: 15px;
	transition: background-color 0.3s, transform 0.3s;
}

.headerBtn:hover {
	background-color: #fff;
	transform: scale(1.05);
}

.hoverScale {
	transition: transform 0.3s;
}

.hoverScale:hover {
	transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
	.header .container {
		flex-direction: column;
		align-items: flex-start;
	}

	nav ul {
		flex-direction: column;
		width: 100%;
	}

	nav ul li {
		margin: 10px 0;
	}

	.contact {
		flex-direction: column;
		width: 100%;
		margin-top: 15px;
	}

	.headerBtn {
		width: 100%;
		margin: 10px 0;
	}
}

/* Slider */

/* Slider Container */
.slider-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Slider */
.slider {
	display: flex;
	transition: transform 1s ease;
	margin-top: 10px;
}

/* Slider Images */
.slider img {
	width: 100%;
	height: 525px;
	object-fit: contain;
	flex: 0 0 auto;
	z-index: -1;
	border-radius: 10px;
}

/* Slider Buttons */
.slider-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #922626;
	color: #fff;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
	z-index: 1;
	transition: background-color 0.3s;
}

.slider-button:hover {
	background-color: #ccc;
	color: #922626;
}

.prev-button {
	left: 10px;
}

.next-button {
	right: 10px;
}


.slider-description {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    z-index: 5;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .slider-description {
        font-size: 16px;
        padding: 8px 16px;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
	.slider img {
		height: 300px;
	}

	.slider-button {
		padding: 8px;
		;
	}
}

@media (max-width: 480px) {
	.slider img {
		height: 200px;
	}

	.slider-button {
		padding: 5px;

	}
}

/* Who we are */

.who-we-are {
	max-width: 100%;
	margin: 0 auto;
	margin-top: 30px;
	padding: 20px;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #333;
	background-color: #f2f2f2;
}

.section-title {
	font-size: 2.5em;
	font-weight: 700;
	margin-bottom: 20px;
	color: #922626;
}

.intro-text,
.highlight-text,
.details-text {
	margin: 10px 0;
	line-height: 1.6;
	font-size: 1.1em;
}

.highlight-text {
	font-weight: 600;
	font-size: 1.2em;
	margin: 20px 0;
}

@media (max-width: 768px) {
	.who-we-are {
		padding: 10px;
	}

	.section-title {
		font-size: 2em;
	}

	.intro-text,
	.highlight-text,
	.details-text {
		font-size: 1em;
	}
}


/* Header Line */


/* Services Section Styling */
.services {
	background-color: #f2f2f2;
	padding: 40px 20px;
	text-align: center;
	margin-top: 50px;
}

.service-heading {
	font-size: 32px;
	margin-top: -10px;
	color: #922626;
	margin-bottom: 30px;
}

.services-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1200px;
	margin: 0 auto;
}

.service {
	background-color: #fff;
	border: 2px solid #922626;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	flex: 1;
	min-width: 280px;
	max-width: 30%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s, box-shadow 0.3s;
}

.service img {
	width: 100%;
	height: auto;
	border-bottom: 2px solid #922626;
	margin-bottom: 15px;
	border: 2px solid #922626;
	border-radius: 10px;
}

.service-title {
	font-size: 24px;
	color: #922626;
	margin: 15px 0;
}

.service-desc {
	font-size: 16px;
	color: #333;
}

.service:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Certifications Section Styling */
.certifications {
	background-color: #f2f2f2; /* Slightly different background */
	padding: 40px 20px;
	text-align: center;
	margin-top: 50px;
}

.certification-heading {
	font-size: 32px;
	color: #922626;
	margin-bottom: 30px;
}

.certifications-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1200px;
	margin: 0 auto;
}

.certification {
	background-color: #fff;
	border: 2px solid #922626;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	flex: 1;
	min-width: 280px;
	max-width: 30%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s, box-shadow 0.3s;
}

.certification img {
	width: 150px; /* Adjust width to keep image circular */
	height: 150px; /* Adjust height to keep image circular */
	border-radius: 50%;
	border: 2px solid #922626;
	margin-bottom: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.certification-title {
	font-size: 24px;
	color: #922626;
	margin: 15px 0;
}

.certification-desc {
	font-size: 16px;
	color: #333;
}

.certification:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Clients Section Styling */
.clients {
	background-color: #f2f2f2;
	padding: 40px 20px;
	text-align: center;
	margin-top: 50px;
}

.client-heading {
	font-size: 32px;
	color: #922626;
	margin-bottom: 30px;
}

.clients-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.client {
	background-color: #fff;
	border: 2px solid #922626;
	border-radius: 10px;
	padding: 20px;
	flex: 1 1 calc(33.333% - 40px);
	max-width: calc(33.333% - 40px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s, box-shadow 0.3s;
}

.client img {
	max-width: 100%;
	height: auto;
}

.client:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}




/* Contact Form Styling */
.contact-form {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	font-family: Arial, sans-serif;
}

.contact-form-heading {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 32px;
	margin-bottom: 20px;
	
	color: #922626;
}

.contact-form-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact-form-input-container {
	width: 48%;
	margin-bottom: 20px;
}

.contact-form-input-container.full-width {
	width: 100%;
}

.contact-form-label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-form-input {
	width: 90%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #922626;
	color: #fff;
}

.contact-form-input::placeholder {
	color: #fff;
}

.contact-form-submit {
	display: block;
	width: 100%;
	padding: 15px;
	background-color: #922626;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}

.contact-form-submit:hover {
	background-color: #922626;
}

/* Footer Styling */
.footer {
	background-color: #f2f2f2;
	padding-top: 40px 20px;
	border-top: 2px solid #922626;
	font-family: Arial, sans-serif;
	margin-top: 100px;
	margin-bottom: 0;
}

.upper-footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}

.footer-about-container,
.footer-helpful-links-container,
.footer-mailing-address-container {
	flex: 1;
	min-width: 280px;
	margin-bottom: 20px;
}

.footer-about-heading,
.footer-helpful-links-heading,
.footer-mailing-address-heading {
	font-size: 24px;
	margin-bottom: 10px;
	color: #922626;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.footer-about {
	display: flex;
	flex-direction: column;
}

.footer-logo {
	width: 90px;
	height: 50px;
	margin-right: 10px;
	
}

.footer-about-text {
	color: #922626;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-about-para {
	margin: 0 5px;
	margin-top: 5px;
	font-size: 17px;
	margin-right: 10px;
	width: 320px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer-company-name {
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-helpful-link-list-container {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-helpful-link-list-container li {
	margin-bottom: 20px;
}

.footer-link {
	text-decoration: none;
	color: #922626;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer-mailing-address {
	color: #922626;
	margin: 0 0 10px 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-mailing-address-emails-container {
	margin-top: 10px;
}

.footer-email-heading {
	margin: 0 0 5px 0;
	font-size: 18px;
	color: #922626;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-email {
	margin: 0;
	color: #922626;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lower-footer-container {
	text-align: center;
	margin-bottom: 0;
	padding: 10px 0;
	background-color: #922626;
	color: #fff;
	font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
	.services-container {
		flex-direction: column;
		align-items: center;
	}

	.service {
		max-width: 90%;
	}

	.certifications-container {
		flex-direction: column;
		align-items: center;
	}

	.certification {
		max-width: 90%;
	}

	.upper-footer-container {
		flex-direction: column;
		align-items: center;
	}
	.client {
		flex: 1 1 calc(50% - 20px);
		max-width: calc(50% - 20px);
	}

	.footer-about,
	.footer-helpful-links-container,
	.footer-mailing-address-container {
		text-align: center;
	}

	.footer-about {
		flex-direction: column;
	}

	.footer-logo {
		margin-bottom: 10px;
	}
}

@media (max-width: 480px) {
	.client {
		flex: 1 1 100%;
		max-width: 100%;
	}
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 60px; /* Adjust this value to move the dropdown lower */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition */
    opacity: 0; /* Initially hide the dropdown */
    transform: translateY(-10px); /* Move the dropdown up */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s; /* Add transition */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1; /* Show the dropdown */
    transform: translateY(0); /* Move the dropdown to its original position */
}

.dropdown-content a.hoverScale {
    transition: transform 0.3s; /* Add transition */
}

.dropdown-content a.hoverScale:hover {
    transform: scale(1.2); /* Scale up by 20% on hover */
}



/* Container for image and information */
.image-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.product-image {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.info {
    max-width: 60%;
}

.info p {
    line-height: 1.6;
    margin: 10px 0;
}

.info ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
}

.info ul li {
    margin-bottom: 5px;
}

.image-info-container {
    display: flex;
    align-items: flex-start; /* Align items at the start vertically */
    justify-content: space-between; /* Space evenly between items horizontally */
    margin-bottom: 20px; /* Optional margin for spacing */
}

.product-image {
    width: 40%; /* Adjust width as needed */
    max-height: 100%; /* Ensure the image doesn't exceed its container's height */
    border-radius: 8px; /* Optional border radius for aesthetics */
}

.product-info {
    width: 55%; /* Adjust width as needed */
}

.product-info h2 {
    margin-top: 0; /* Remove default margin */
}

.products {
    display: flex;
    flex-wrap: wrap; /* Wrap the categories if they exceed the container width */
    justify-content: space-between; /* Space evenly between categories */
}

.category {
    width: 48%; /* Adjust width as needed */
}

.category h3 {
    margin-top: 0; /* Remove default margin */
}

.category ul {
    margin-top: 0; /* Remove default margin */
    padding-left: 20px; /* Add left padding for list items */
}

@media (max-width:480px){
	.image-info-container{
		flex-direction: column;
		align-items: center;
	}
	.image-info-container img{
		width: 250px;
		height: 150px;
		border: 3px solid #922626;
		border-radius: 5px;
		margin-bottom: 10px;
	}
	.category{
		margin-right: 10px;
		min-width: 200px;
	}
	
}
